<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, id: :user_height %>
  </div>

  <div class="field">
    <%= form.label :cellphone %>
    <%= form.text_field :cellphone, id: :user_cellphone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :paymentmethod %>
    <%= form.number_field :paymentmethod, id: :user_paymentmethod %>
  </div>

  <div class="field">
    <%= form.label :payeeaccount %>
    <%= form.number_field :payeeaccount, id: :user_payeeaccount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
