<%= form_with(model: draft, local: true) do |form| %>
  <% if draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :draft_user_id %>
  </div>

  <div class="field">
    <%= form.label :draft_id %>
    <%= form.number_field :draft_id, id: :draft_draft_id %>
  </div>

  <div class="field">
    <%= form.label :draft_name %>
    <%= form.text_field :draft_name, id: :draft_draft_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :draft_gender %>
  </div>

  <div class="field">
    <%= form.label :expected_price %>
    <%= form.number_field :expected_price, id: :draft_expected_price %>
  </div>

  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_field :explanation, id: :draft_explanation %>
  </div>

  <div class="field">
    <%= form.label :product_category %>
    <%= form.number_field :product_category, id: :draft_product_category %>
  </div>

  <div class="field">
    <%= form.label :bookmark_count %>
    <%= form.number_field :bookmark_count, id: :draft_bookmark_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
